<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Shop_management_system.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Shop_management_system.Properties.Settings.Database1ConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <Shop_management_system.Properties.Settings>
            <setting name="dbconnection" serializeAs="String">
                <value>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="C:\Users\User\source\repos\HR Menagement System form\Shop management system\ShopDB.mdf";Integrated Security=True</value>
            </setting>
        </Shop_management_system.Properties.Settings>
    </applicationSettings>
</configuration>